@model dynamic
<div class="card m-4">
   <div class="card-header bg-danger text-light">@Model.Name</div>
   <div class="card-body">
       <p>Thông tin @Model.Description</p>
       <p>Giá: @Model.Price</p>
   </div>
</div>
