@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome MyBlog 2020</h1>
</div>
<a class="display-4" asp-controller="ViewPost" asp-action="Index">các bài viết</a>
