@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Cấm truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn không được phép truy cập vào tài nguyên đã yêu cầu.</p>
</header>
