@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quyên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hãy kiểm tra hòm thư email của bạn để thực hiện bước tiếp theo
</p>

