@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Đã đặt lại mặt khẩu. <a asp-page="./Login">Đăng nhập tại đây</a>.
</p>
