@page "/user/"
@model MyApp.Namespace.IndexModel
@inject SignInManager<AppUser> SignInManager
@{
    var message = SignInManager.IsSignedIn(User) ? 
        $"Xin chào, {User.Identity.Name}" :
        "Chưa đăng nhập";
}

<p class="display-4 text-success">@message</p>
@if (User.Identity.IsAuthenticated) {
    <a asp-page="SignIn" asp-page-handler="signout" class="btn btn-success">Logout</a>
}
else {
  <a asp-page="Register" class="btn btn-danger">Đăng ký</a>
  <a asp-page="SignIn" class="btn btn-success">Đăng nhập</a>
}

