<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - xuannthulab.net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .bg-login-image, .bg-register-image, .bg-password-image {
              background: black url(https://xuanthulab.net/public/img/logo.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
        }           
    </style>
</head>
<body class="bg-gradient-primary">
   
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            @RenderBody()
          </div>
        </div>

      </div>

    </div>

  </div>
     

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>