@page 
@model UploadOneFileModel
<form method="post" enctype="multipart/form-data">
    <label asp-for="@Model.FileUpload"></label>
    <input asp-for="@Model.FileUpload" />
    <span asp-validation-formaction="@Model.FileUpload"></span>

    <button class="btn btn-danger" asp-page="UploadOneFile">Upload</button>
</form>
