@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h1 class="h3 mb-1 text-gray-800">@ViewData["Title"]</h1>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}