@page

@{
    @*  Đọc name trực tiếp từ Razor @
    @*  String name = this.Request.RouteValues["name"] as String; *@
    ViewData["Title"] = "SP";
}
<h1>@ViewData["Title"]</h1>

<p>Chi tiết sản phẩm</p>
