@using Microsoft.AspNetCore.Identity
@using mvcblog.Models
@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    string activePage = System.IO.Path.GetFileNameWithoutExtension(ViewContext.ActionDescriptor.DisplayName);
    Func<string, string, string> ActiveClass = (string activePage, string page) => {
        return (activePage == page) ? "active" : "";
    };
}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
            asp-action="Index" asp-controller="Home" asp-area="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">XuanThuLab</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Heading -->
            <div class="sidebar-heading mt-2">
                Quản lý tài khoản
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUserManage" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Tài khoản cá nhân</span>
                </a>
                <div id="collapseUserManage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Chức năng</h6>
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>                        
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/Email">Email</a>
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a>
                        @if (hasExternalLogins)
                        {
                            <a class="collapse-item" asp-page="/Account/Manage/ExternalLogins">External logins</a>
                        }
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">Two-factor authentication</a>
                        <a class="collapse-item" asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal data</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhanquyen" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-user-cog"></i>
                    <span>Phân quyền</span>
                </a>
                <div id="collapsePhanquyen" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item @ActiveClass(activePage, "Index")" asp-page="/Role/Index" asp-area="Admin">Các Role - Vai trò</a>
                        <a class="collapse-item @ActiveClass(activePage, "User")" asp-page="/Role/User" asp-area="Admin">Gán vai trò (phân quyền)</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Heading -->
            <div class="sidebar-heading mt-2">
                Posts
            </div>
               <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePosts" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-newspaper"></i>
                    <span>QL Bài viết</span>
                </a>
                <div id="collapsePosts" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-controller="Category" asp-area="Admin"><i class="fas fa-list"></i> Danh mục Blog</a>
                        <a class="collapse-item active" asp-controller="Post" asp-area="Admin" asp-action="Index"><i class="fas fa-list"></i> Danh sách bài viết</a>
                        <a class="collapse-item" asp-controller="Post" asp-area="Admin" asp-action="Create"><i class="fas fa-plus-circle"></i> Thêm bài viết</a>

                    </div>
                </div>
            </li>
          


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->


