@page "/confirm-email/"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác thực email";
    Layout = "/Views/Shared/Admin/_LoginLayout.cshtml";

}


<div class="p-4">
    <h1>@ViewData["Title"]</h1>
    <p>@Model.StatusMessage</p>
</div>