@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quyên mật khẩu?";
    Layout = "/Views/Shared/Admin/_LoginLayout.cshtml";

}

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">@ViewData["Title"]</h1>
                    <p class="mb-4">Nhập email của tài khoản.</p>
                  </div>
                  <form class="user" method="POST">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control form-control-user" aria-describedby="emailHelp" 
                            placeholder="Nhập địa chỉ email...">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>    
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Gửi</button>
                  </form> 
                  <hr>

                <div class="text-center">
                    <a class="small" asp-page="./Register">Chưa có tài khoản, đăng ký mới</a>
                </div>
                <div class="text-center">
                    <a class="small" asp-page="./Login">Đã có tài khoản, hãy đăng nhập</a>
                </div>
                    

                </div>
              </div>
           </div>
 
        </div>

    </div> 
</div>

 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
